
#container {
    width: 720px;
    display: block;
    margin-top: 20px;
    float: right;
}

#cabinetMenu {
    width: 720px;
    height: 40px;
}
#cabinetMenu  table{
    width: 720px;
}

.cabinetMenu {
    background: #613030;
    text-align: center;
    border: solid thin gainsboro;
    position: relative;
    top: 0px;
    left: 0px;
    padding: 14px 12px;
    text-transform: uppercase;
}
.cabinetMenu a{
    color: #ffffff;
}


#form {
    /*border: black thin solid;*/
    width: 90%;
    display: table;
    margin-left: auto;
    margin-right: auto;
    border: gainsboro thin solid;
    border-radius: 2px;
    margin-top: 50px;
    font-size: 17px;
}
#form input{
    font-size: 18px;
    width: 100%;
    min-width: 297px;
    margin: 0;
    height: 35px;
    padding: 0px 0px 0px 10px;
}

.row{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
#button{
    cursor: pointer;
}
.error{
    color: red;
    text-align: center;
}
.text{
    text-align: justify;
}

#orders{
    width: 720px;
    margin-top: 30px;
    border: solid thin gainsboro;
    margin-right: auto;
    margin-left: auto;
}
#orders table{
    width: inherit;
}


#basket-container {
    width: 100%;
}
#basket-container table{
    width: 720px;
}

#order-container {
    width: 100%;
}

#deliveries {
    /*border: gainsboro thin solid;*/
}

#deliveries span {
    display: block;
    margin-bottom: 1%;
}

#payments span {
    display: block;
    margin-bottom: 1%;
}

#address {
    /*border: gainsboro thin solid;*/
}