body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    background: #ffffff;
}

div {
    display: block;
}
a{
    text-decoration: none;
    color: #B8B8A5;
}
.invisible{
    visibility: hidden;
    height: 0;
    width: 0;
}
h1{
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
}