#container {
    /*border: black thin solid;*/
    width: 100%;
}

#tree {
    /*border: black thin solid;*/
    width: 30%;
    float: left;
}

#category {
    /*border: black thin solid;*/
    width: 65%;
    float: left;
}
#deleteCatogory{
    float: none;
}

#selectCategoryForm{
    background: #ffffff;
    position: absolute;
    left: 350px;
    top: 100px;
    border: thin solid;
    width: 500px;
    height: 500px;
    z-index: 1500;
    overflow-y: scroll;
}
#selectCategoryTable tr:hover{
    background: gray;
}