#container {
    width: 100%;
    display: table;
    margin-top: 20px;
}

#basket-container {
    border: gainsboro thin solid;
    float: left;
    width: 45%;
}

#order-container {
    border: gainsboro thin solid;
    float: left;
    width: 45%;
    padding-left: 3%;
}

#deliveries {
    /*border: gainsboro thin solid;*/
}

#deliveries span {
    display: block;
    margin-bottom: 1%;
}

#payments span {
    display: block;
    margin-bottom: 1%;
}

#address {
    /*border: gainsboro thin solid;*/
}