

#container {
    /*border: black thin solid;*/
    width: 100%;
    display: table;
    margin-top: 20px;
}



#items {
    /*border: black thin solid;*/
    height: auto;
    min-height: 50px;
    width: 78%;
    float: left;
    margin-left: 10px;
    text-align: center;
}

.item{
    border: gainsboro thin solid;
    width: 150px;
    height: 155px;
    border-radius: 5px;
    display: inline-table;
    margin-bottom: 5px;
}