#header{
    /*border: black thin solid;*/
    /*border-bottom: solid #11325d thin;*/
    width: 1000px;
    height: 10px;
}

#logo-div {
    width: 40%;
    margin: 0 auto;
    position: relative;
    float: left;
}

#logo-image {
    background-image: url('http://localhost:8080/flyfishalex/resources/images/logo.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 300px auto;
    height: 75px;
    width: 300px;
    display: inline-block;
}

#nav-panel {
    display: block;
    float: right;
    margin-top: 0px;
    margin-right: 10px;

}

.nav-tab {
    display: inline-block;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;

}
.nav-tab a{
    color: #11325d;
}
#navigation{
    /*border-bottom: solid #11325d thin;*/
    height: 20px;
    margin-top: 10px;
}
.navigation{
    /*border: solid #11325d thin;*/
    float: left;
    margin-left: 40px;
}
.navigation-right{
    /*border: solid #11325d thin;*/
    float: right;
    margin-right: 40px;
}