
#container {
    /*border: black thin solid;*/
    width: 100%;
    display: table;
    margin-top: 50px;
}

#news {
    height: auto;
    min-height: 50px;
    width: 78%;
    float: left;
    margin-left: 10px;
    text-align: center;
}

.news {
    border-bottom: #11325d thin dotted;
    width: 100%;
    display: inline-block;
    text-align: left;
    margin-bottom: 20px;
}

.news span {
    color: #11325d;
}

.news article {
    text-align: left;
    margin-top: 5px;
    color: #737373;

}

#carusel{
    border: black thin solid;
    width: 100%;
    height: 200px;
    margin-bottom: 40px;

}

#items {
    /*border: black thin solid;*/
    height: auto;
    min-height: 50px;
    width: 1000px;
    text-align: center;
}

.item{
    border: gainsboro thin solid;
    width: 180px;
    height: 200px;
    border-radius: 5px;
    display: block;
    margin-bottom: 5px;
    float: left;
    margin-left: 9px;
    margin-right: 9px;
}
#myCarousel{
    width: 1000px;
    height: 200px;
}
