h1 {
    font-size: 16px;
    font-family: Arial;
    text-align: center;
}

#container {
    /*border: black thin solid;*/
    width: 1000px;
    margin-top: 20px;
}

#product {
    /*border: gainsboro thin solid;*/
    width: 1000px;
}

#product-info {
    /*border: gainsboro thin solid;*/
}

#product-images {
    /*border: gainsboro thin solid;*/
}

.product-image {
    border: gainsboro thin solid;
    float: left;
    margin: 2px;
    width: 300px;
}

.product-image img {
    width: inherit;
}

#product-price-variant {
    /*border: gainsboro thin solid;*/
    height: auto;
    height: auto;
    float: right;
}

#product-variant {
    /*border: gainsboro thin solid;*/
    margin-top: 10px;
    border-top: gainsboro thin solid;
    width: 1000px;
    text-align: center;
}

.product-variant {
}

.product-variant h2 {
    font-weight: normal;
    font-size: 12pt;
    margin: 0;
    padding: 0;
}

h2 span {
    margin-left: 10px;
    font-size: 120%;
}

#product-description {
    /*border-top: gainsboro thin solid;*/
    text-align: justify;
}

